<div class="container">
	<div class="alert alert-###alert_color### alert-dismissible" role="alert" ###alert_hidden###>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>###message###
	</div>

	<h3>Lights On/Off Scheduler</h3>
	###crontab_html###
	###gen_crontab_html###

	###TEMPLATE_schedule_table.html###
</div>

<!-- <script type="text/javascript">
	window.setTimeout(function() {
    	$(".alert").fadeTo(500, 0).slideUp(500, function(){
        	$(this).remove(); 
    	});
	}, 5000);
</script> -->