<!--    
          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
-->
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="###CFG_PageURL###js/jquery-1.12.4.min.js" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="###CFG_PageURL###js/bootstrap.min.js" crossorigin="anonymous"></script>
    ###TEMPLATE_schedule_modal_edit_light_script.html###
  </body>
</html>