	<tr>
		<td>###id###</td>
		<td>###light_name###</td>
		<td><a href="###monday_switch_link###" 		class="btn btn-###btn_color_monday### btn-xs">###monday###</a></td>
		<td><a href="###tuesday_switch_link###" 	class="btn btn-###btn_color_tuesday### btn-xs">###tuesday###</a></td>
		<td><a href="###wednesday_switch_link###" 	class="btn btn-###btn_color_wednesday### btn-xs">###wednesday###</a></td>
		<td><a href="###thursday_switch_link###" 	class="btn btn-###btn_color_thursday### btn-xs">###thursday###</a></td>
		<td><a href="###friday_switch_link###" 		class="btn btn-###btn_color_friday### btn-xs">###friday###</a></td>
		<td><a href="###saturday_switch_link###" 	class="btn btn-###btn_color_saturday### btn-xs">###saturday###</a></td>
		<td><a href="###sunday_switch_link###" 		class="btn btn-###btn_color_sunday### btn-xs">###sunday###</a></td>
		<td><a href="###time_on_switch_link###" 	class="btn btn-###btn_color_time_on### btn-xs">###time_on###</a></td>
		<td><a href="###time_off_switch_link###" 	class="btn btn-###btn_color_time_off### btn-xs">###time_off###</a></td>
		<td>###mqtt_topic###</td>
		<td><a href="###active_switch_link###" 		class="btn btn-###btn_color_active### btn-xs">###active###</a></td>
	</tr>