<div class="panel panel-default text-primary">
	<div class="panel-heading">
		DB Actions
		<button type="button" class="btn btn-default" type="submit" value="Submit">Edit <span class="glyphicon glyphicon-pencil"></span></button>
	</div>
	<table class="table table-striped">
		<tr>
			<td>ID</td>
			<td>Light Name</td>
			<td>Mon</td>
			<td>Tue</td>
			<td>Wed</td>
			<td>Thu</td>
			<td>Fri</td>
			<td>Sat</td>
			<td>Sun</td>
			<td>Time ON</td>
			<td>Time OFF</td>
			<td>MQTT Topic</td>
			<td>Active</td>
		</tr>
		###schedule_rows###
	</table>	
</div>