
	<div class="panel panel-default">
		<div class="panel-heading">
		  <h3 class="panel-title"><span class="glyphicon glyphicon-off"></span> Scheduling</h3>
		</div>
		<div class="text-primary">
			<table class="table table-striped" style="font-weight: normal; text-shadow: none;">
				<tr>
					<th>ID</th>
					<th>Light Name</th>
					<th>Mon</th>
					<th>Tue</th>
					<th>Wed</th>
					<th>Thu</th>
					<th>Fri</th>
					<th>Sat</th>
					<th>Sun</th>
					<th>Time ON</th>
					<th>Time OFF</th>
					<th>MQTT Topic</th>
					<th>Group</th>
					<th>Active</th>
				</tr>
				###schedule_rows###
			</table>			
		</div>
	</div>
