<!-- <form method="POST" class="form-inline" action="/dieta/index.php">
	<input type="text" class="form-control" name="ingredientPhrase" placeholder="Zdanie ze skladnikami">
	<button type="submit" class="btn btn-default" name="submit" value="AddIngredientPhrase">Dodaj</button>
</form> -->

<div class="panel panel-default text-primary top-buffer-20 table-1000">
	<table class="table table-striped">
		<tr>
			<td></td>
			<td>Ingredient</td>
			<td></td>
		</tr>
		###table_phrases_ingredients_v2###
	</table>
</div>